<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074558085900-dtdr57vdiaegn1mekkee1vj4bp8ur1gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074558085900-dtdr57vdiaegn1mekkee1vj4bp8ur1gu</string>
	<key>API_KEY</key>
	<string>AIzaSyCitfkUFbubohQ-Ryyozoh16tinYidKw6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1074558085900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>vize-30719048-main</string>
	<key>STORAGE_BUCKET</key>
	<string>vize-30719048-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074558085900:ios:84abdbca71e36f8729b729</string>
</dict>
</plist>